ion-card-title{
  color: #1401FF;
  text-align: center;
}

h1{
 color: #B39700;
 text-align: center;
}

ion-card-subtitle{
  color: #CC8A14;
  text-align: justify;
}

ion-card-content{
 text-align: justify;
}

.ion-align-items-center{
 align-items: center;
}

img{
  padding: 2%;
}
