<ion-header>
  <ion-toolbar>
    <ion-title>CONVENIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h1 class="title">CONVENIOS</h1>
  <ion-card  class="ion-center-content-around" *ngFor="let convenio of conv">
   <ion-card-header>
     <ion-card-title>{{convenio.pais}}</ion-card-title>
     <img src="http://localhost:1996/API/img/{{convenio.foto}}" alt="" />
     <ion-card-subtitle>{{convenio.universidade}}</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <p><a href="{{convenio.link}}">Link</a></p>
   </ion-card-content>
   <ion-button io-button shape="round"  color="success" large>Editar</ion-button>
   <ion-button io-button shape="round" (click)="deleteConv(convenio)" color="danger" large>Apagar</ion-button>
  </ion-card>
  <ion-button io-button shape="round" href="/nova-conv" large>Novo Convenio...</ion-button>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" href="/pag-admin">
      <ion-icon name="undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
