<ion-header>
  <ion-toolbar>
    <ion-title>INSCRIPCOES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h1 class="title">INSCRIPCOES ALUNOS</h1>
 <ion-card  class="ion-center-content-around" *ngFor="let insc of ins">
  <ion-label color="primary">Nome:</ion-label><br>
  <ion-label color="dark">{{ insc.nome }}</ion-label><br>
  <ion-label color="primary">Sobrenome:</ion-label><br>
  <ion-label color="dark">{{ insc.sobrenome }}</ion-label><br>
  <ion-label color="primary">E-mail:</ion-label><br>
  <ion-label color="dark">{{ insc.email }}</ion-label><br>
  <ion-label color="primary">Curso:</ion-label><br>
  <ion-label color="dark">{{ insc.fkCurso }}</ion-label><br>
  <ion-label color="primary">Periodo:</ion-label><br>
  <ion-label color="dark">{{ insc.fkPeriodo }}</ion-label><br>
  <ion-button io-button shape="round" (click)="deleteInscripcao(insc)" color="danger" large>Apagar</ion-button>
 </ion-card>
 <ion-fab horizontal="end" vertical="bottom" slot="fixed">
   <ion-fab-button color="light" href="/pag-admin">
     <ion-icon name="undo"></ion-icon>
   </ion-fab-button>
 </ion-fab>
</ion-content>
