<ion-header>
  <ion-toolbar>
    <ion-title>Nova Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <form (ngSubmit)="formSubmit()" method="POST" enctype="multipart/form-data">
  <ion-item>
   <ion-label color="primary">Autor:</ion-label>
   <ion-input [(ngModel)]="dadosExp.author" name="author" required></ion-input>
  </ion-item>
  <ion-item>
   <ion-label color="primary">Experiencia:</ion-label>
   <ion-input [(ngModel)]="dadosExp.exper" name="exper" required></ion-input>
  </ion-item>
  <ion-item>
   <ion-label color="primary">Ano:</ion-label>
   <ion-input type="text" [(ngModel)]="dadosExp.ano" name="ano" required></ion-input>
  </ion-item>
  <ion-item>
   <ion-label color="primary">Pais:</ion-label>
   <ion-input type="text" [(ngModel)]="dadosExp.pais" name="pais" required></ion-input>
  </ion-item>
  <ion-item>
   <ion-label color="primary">Foto:</ion-label>
   <ion-input type="text" [(ngModel)]="dadosExp.foto" name="foto" required></ion-input>
  </ion-item>
  <ion-button type="submit" shape="round" fill="outline" color="tertiary">Registrar</ion-button>
  <ion-button href='/ver-exp' shape="round" color="danger" fill="outline">Cancelar</ion-button>
 </form>

</ion-content>
