<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>IntercambioInternacional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card  class="ion-align-items-center" *ngFor="let convenio of conv">
  <ion-card-header>
    <ion-card-title>{{convenio.pais}}</ion-card-title>
    <img src="http://localhost:1996/API/img/{{convenio.foto}}" alt="" />
    <ion-card-subtitle>{{convenio.universidade}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p><a href="{{convenio.link}}">Link</a></p>
  </ion-card-content>
 </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" href="/convenios">
      <ion-icon name="undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
