<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="headerApp">
      INITERCÂMBIO UNINCOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="/assets/LOGO-UNINCOR.png" alt="" />
    <ion-card-header>
      <ion-card-title>Intercâmbio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Explicar que es intercambio.</p>
    </ion-card-content>

    <ion-card  class="ion-align-items-center">
     <ion-card-header>
       <ion-card-subtitle>Experiências Intercâmbio</ion-card-subtitle>
       <ion-card-title></ion-card-title>
     </ion-card-header>
     <img src="/assets/experienciasInterc.jpeg" alt="" />
     <ion-card-content>
       <p>Hablar en general sobre las experiencias.</p>
     </ion-card-content>
     <ion-button io-button shape="round" href="/experiencias" large>Conhece mais...</ion-button>
    </ion-card>
</ion-content>


<ion-footer translucent>
  <ion-toolbar>


   <ion-title>Unincor</ion-title>

   <ion-icon name="logo-facebook" color="primary"></ion-icon>
   <ion-icon name="logo-whatsapp" color="success"></ion-icon>
   <ion-icon name="logo-instagram" color="tertiary"></ion-icon>

  </ion-toolbar>
</ion-footer>
