<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>convenios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card class="ion-align-items-center">
  <ion-card-header>
    <ion-card-title>NACIONAL</ion-card-title>
    <img src="http://localhost:1996/API/img/brasil.png" alt="" />
  </ion-card-header>
  <ion-card-content>
    <p>O intercâmbio em nível nacional é que o estudante pode cursar outra universidade no Brasil, onde tem carreira ou afins, e pode viver uma nova experiência, em outro estado ou em outra cidade de Minas Gerais.</p>
    <ion-button io-button (click)="presentModal()" shape="round" large>Conhece mais...</ion-button>
  </ion-card-content>
 </ion-card>

 <ion-card  class="ion-align-items-center">
  <ion-card-header>
    <ion-card-title>INTERNACIONAL</ion-card-title>
    <img src="http://localhost:1996/API/img/internacional.png" alt="" />
  </ion-card-header>
  <ion-card-content>
    <p>O intercâmbio internacional é que o estudante pode ir para outra universidade em outro país que tenha um contrato e bolsa de estudos, onde eles tenham carreira ou afins e possam viver uma nova experiência, além disso, possam enfrentar novas desafios que o moldarão em sua vida profissional e pessoal.</p>
  </ion-card-content>
  <ion-button io-button shape="round" href="/intercambio-inter" large>Conhece mais...</ion-button>
 </ion-card>
</ion-content>
