ion-card-title{
  color: #1401FF;
  text-align: center;
}

ion-card-subtitle{
  color: #CC8A14;
  text-align: center;
}

ion-card-content{
 text-align: center;
}

img{
  width: 500px;
  height: auto;
  padding: 2%;
}
