<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Experiencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card  class="ion-align-items-center" *ngFor="let exp of exp">
  <ion-card-header>
    <ion-card-title>Intercâmbio {{ exp.pais }} {{ exp.ano }}</ion-card-title>
    <img src="http://localhost:1996/API/img/{{exp.foto}}" alt="" />
    <ion-card-subtitle>{{ exp.author }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ exp.exper }}</p>
  </ion-card-content>
 </ion-card>

</ion-content>
